@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.sheet-root {
    --nscs-main-font: 'Roboto Mono', monospace;
    font-family: var(--nscs-main-font);
}

.sheet-background0:checked ~ .sheet-root  {
    --nscs-background1: black;
    --nscs-background2: black;
    --nscs-bookmark-background1: red;
    --nscs-bookmark-border1: 2px solid #7d0000;
    --nscs-bookmark-text-color: white;
    --nscs-button-background: white;
    --nscs-button-color: black;
    --nscs-select-button-background: black;
    --nscs-select-button-color: white;
}

.sheet-background1:checked ~ .sheet-root  {
    --nscs-background1: url("https://github.com/plrazorpl/neuroshima-cs/blob/main/img/LetherBackground1.jpg?raw=true");
    --nscs-background2: url("https://github.com/plrazorpl/neuroshima-cs/blob/main/img/LetherBackground2.jpg?raw=true");
    --nscs-bookmark-background1: red;
    --nscs-bookmark-border1: 2px solid #7d0000;
    --nscs-bookmark-text-color: white;
    --nscs-button-background: white;
    --nscs-button-color: black;
    --nscs-select-button-background: black;
    --nscs-select-button-color: white;
}

.sheet-background2:checked ~ .sheet-root  {
    --nscs-background1: url("https://raw.githubusercontent.com/plrazorpl/neuroshima-cs/main/img/Page1.jpg");
    --nscs-background2: url("https://raw.githubusercontent.com/plrazorpl/neuroshima-cs/main/img/Page2.jpg");
    --nscs-bookmark-background1: red;
    --nscs-bookmark-border1: 2px solid #7d0000;
    --nscs-bookmark-text-color: white;
    --nscs-button-background: white;
    --nscs-button-color: black;
    --nscs-select-button-background: black;
    --nscs-select-button-color: white;
}

.sheet-row {
    display: -webkit-box !important;
    display: flex !important;
    flex-wrap: wrap;
}

.sheet-col-1 {
    -webkit-box-flex: 0;
    flex: 0 0 10%;
    max-width: 10%;
}

.sheet-col-2 {
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
}

.sheet-col-3 {
    -webkit-box-flex: 0;
    flex: 0 0 30%;
    max-width: 30%;
}

.sheet-col-4 {
    -webkit-box-flex: 0;
    flex: 0 0 40%;
    max-width: 40%;
}

.sheet-col-5 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.sheet-col-6 {
    -webkit-box-flex: 0;
    flex: 0 0 60%;
    max-width: 60%;
}

.sheet-col-7 {
    -webkit-box-flex: 0;
    flex: 0 0 70%;
    max-width: 70%;
}

.sheet-col-8 {
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;
}

.sheet-col-9 {
    -webkit-box-flex: 0;
    flex: 0 0 90%;
    max-width: 90%;
}

.sheet-col-10 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.sheet-edit-mode0:checked ~ * .sheet-edit-mode,
.sheet-edit-mode1:checked ~ * .sheet-readonly-mode {
    display: none;
}

.sheet-page {
    min-height: 400px;
}

.sheet-page1 {
    background: var(--nscs-background1);
}

.sheet-page2 {
    background: var(--nscs-background2);
}

.sheet-page3 {
    background: var(--nscs-background2);
}

.sheet-page1,
.sheet-page2,
.sheet-page3 {
    display: none;
}

.sheet-page1-enable:checked ~ * .sheet-page1,
.sheet-page2-enable:checked ~ * .sheet-page2,
.sheet-page3-enable:checked ~ * .sheet-page3 {
    display: block;
}

.sheet-main-content {
    width: 100%;
}

.sheet-bookmark {
    vertical-align: top;
}

.sheet-bookmark-container {
    margin-right: -10px;
    z-index: -1000;
}

.sheet-bookmark > .sheet-bookmark-container > button[class^="sheet-bookmark-button"] {
    writing-mode: vertical-lr;
    background: var(--nscs-bookmark-background1);
    color: var(--nscs-bookmark-text-color);
    padding: 10px 5px 10px 35px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 2px 0;
    border: var(--nscs-bookmark-border1);
    border-left-style: none;
    z-index: 0;
    position: relative;
    left: -20px;
    font-family: var(--nscs-main-font);
}

.sheet-bookmark-button1:before,
.sheet-bookmark-button2:before,
.sheet-bookmark-button3:before {
    display: none;
}

.sheet-page1-enable:checked ~ * .sheet-bookmark-button1,
.sheet-page2-enable:checked ~ * .sheet-bookmark-button2,
.sheet-page3-enable:checked ~ * .sheet-bookmark-button3 {
    z-index: 100 !important;
    left: -10px !important;
}

.sheet-page {
    position: relative;
    z-index: 1;
}

.sheet-main-content > .sheet-page .sheet-selectable-button {
    background: var(--nscs-button-background);
    color: var(--nscs-button-color);
}

.sheet-main-content > .sheet-page .sheet-selectable-button:before {
    display: none;
}

.sheet-origin01:checked ~ * .sheet-origin-button01,
.sheet-origin02:checked ~ * .sheet-origin-button02,
.sheet-origin03:checked ~ * .sheet-origin-button03,
.sheet-origin04:checked ~ * .sheet-origin-button04,
.sheet-origin05:checked ~ * .sheet-origin-button05,
.sheet-origin06:checked ~ * .sheet-origin-button06,
.sheet-origin07:checked ~ * .sheet-origin-button07,
.sheet-origin08:checked ~ * .sheet-origin-button08,
.sheet-origin09:checked ~ * .sheet-origin-button09,
.sheet-origin10:checked ~ * .sheet-origin-button10,
.sheet-origin11:checked ~ * .sheet-origin-button11,
.sheet-origin12:checked ~ * .sheet-origin-button12 {
    background: var(--nscs-select-button-background) !important;
    color: var(--nscs-select-button-color) !important;
}

.sheet-origin-description01,
.sheet-origin-description02,
.sheet-origin-description03,
.sheet-origin-description04,
.sheet-origin-description05,
.sheet-origin-description06,
.sheet-origin-description07,
.sheet-origin-description08,
.sheet-origin-description09,
.sheet-origin-description10,
.sheet-origin-description11,
.sheet-origin-description12 {
    display: none;
}

.sheet-origin01:checked ~ * .sheet-origin-description01,
.sheet-origin02:checked ~ * .sheet-origin-description02,
.sheet-origin03:checked ~ * .sheet-origin-description03,
.sheet-origin04:checked ~ * .sheet-origin-description04,
.sheet-origin05:checked ~ * .sheet-origin-description05,
.sheet-origin06:checked ~ * .sheet-origin-description06,
.sheet-origin07:checked ~ * .sheet-origin-description07,
.sheet-origin08:checked ~ * .sheet-origin-description08,
.sheet-origin09:checked ~ * .sheet-origin-description09,
.sheet-origin10:checked ~ * .sheet-origin-description10,
.sheet-origin11:checked ~ * .sheet-origin-description11,
.sheet-origin12:checked ~ * .sheet-origin-description12 {
    display: block;
}

.sheet-standard-image {
    width: 100%
}